.intro {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

h1 {
  font-size: 1.5rem;
}
.myIntro {
  align-self: flex-end;
}
.myIntro h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}
.myIntro h4 {
  margin-top: 1rem;
  font-size: 2rem;
}
.myIntro p {
  width: 30rem;
  margin: 2rem 0;
  font-size: 1.5rem;
}
.myIntro button {
  margin-right: 1rem;
}
.profile {
  align-self: center;
}

.profile img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.techContainer {
  text-align: center;
  margin: 2rem;
}
.techContainer button {
  margin-top: 2rem;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 30%;
}
.projects {
  margin-left: 2rem;
  text-align: justify;
}

.projectColumn {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/*Mobile screen styling*/
@media (max-width: 800px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .myIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .myIntro h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .myIntro h4 {
    font-size: 1.2rem;
  }
  .myIntro p {
    width: 50%;
    font-size: 1rem;
    text-align: center;
  }
  .myIntro button {
    margin-bottom: 1rem;
  }
  .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .techContainer {
    text-align: center;
    margin: 1rem;
  }
}
