.nav {
  background-color: transparent;
  padding: 1rem;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav li {
  margin-left: 1rem;
}

.nav a {
  color: var(--color-muted);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--color-accent);
  padding: 1rem;
  font-size: 1.1rem;
}

.nav a:active {
  color: var(--color-bg);
  padding: 1rem;
  font-size: 1.1rem;
  background-color: var(--color-accent);
}

/*Mobile screen styling*/
@media (max-width: 800px) {
  .nav {
    background-color: transparent;
    padding: 0rem;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .nav li {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
}
